.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Shared style */
.text-primary{
    color: #fd6e0a;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    color: white;
    background-color: #fd6e0a;
    font-size: 20px;
    font-weight:bold ;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    color: #757575;
    font-size: 18px;
}

.secondary-bg{
    background-color: #fff8f3;
}

.text-center{
    text-align: center;
}
/* Header image style */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px ;
}

.nav-title{
    font-weight: 800;
    font-size: 40px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 40px;
    font-weight:600 ;
}

.banner-title{
    font-size: 70px;
    font-weight: bold;
}

.banner-profile-pic{
    width: 580px;
}
/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About section styles */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}

/* Skill section style */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 5px 0px #00000030;
    border-radius: 5px;
}

/* Resume section start */

.resume .resume-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.resume .resume-container .resume-column{
    display: flex;
    flex-direction: column;
}
.resume .resume-container .resume-column .experience{
    margin-bottom: 30px;
    max-width: 500px;
    border-bottom: 1px solid #474747;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 600;
}

.experience-description{
    color: #757575;
}
.experience-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 30px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-download-btn{
    margin-top: 50px;
}

/* Footer section */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

footer .footer-column{
    width: 50%;
}

footer input[type="text"]{
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #474747;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
}

footer input[type="email"]{
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #474747;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
}

footer textarea{
    width: 100%;
    height: 180px;
    border-radius: 5px;
    background-color: white;
    color: #474747;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 16px;
    padding:20px;
    font-family: "Open Sans", sans-serif;
}

footer input[type="submit"]{
    color: white;
    background-color: #fd6e0a;
    font-size: 20px;
    font-weight:bold ;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}